<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="Sdk/autoload.php">
	<testsuites>
		<testsuite name="pCloudSDK">
			<directory>./test/</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="ACCESS_TOKEN" value="forge" force="true" />
		<env name="LOCATION" value="1" force="true" />
	</php>

</phpunit>